<header class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="page-heading">
          <h1>{{draft.title}}</h1>
          <hr class="small">
          <span class="subheading">By: {{user.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <p>{{draft.text}}</p>
      <div class="create-draft">
          <a class="btn btn-default" href="/drafts/{{user.username}}/{{draft.slug}}/edit">Edit</a> 
      </div>
      <ul class="pager">
          <li class="previous">
            <a href="/drafts">All Drafts &crarr;</a>
          </li>
      </ul>
    </div>
  </div>
</div>
